{% extends 'base.html' %}

{% load static %}
{% block base %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        #image{
            position:relative;
            top:80px;
        }
    </style>
        
<head>
<body>
    <div class="container mt-5 mb-5" style="display:flex;justify-content:center;align-items:center">
    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-md-6 d-none d-lg-block d-md-block justify-content-center" id="image">
                <img src="{% static 'images\10yearslogo_1-1-1_page-0001-removebg-preview.png' %}" alt="" weight>
               </div>
          <div class="col p-4 d-flex flex-column position-static" >
            <form method="POST">
                {% csrf_token%}
                
                <center><h1 style="font-style:Serif">PRODUCT FORM</h1></center>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Product Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1"name="name">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Description</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" name="description">
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Actual Quantity</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" name="actual">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Available Quantity</label>
                    <input type="number" class="form-control" id="exampleInputEmail1"  name="avail">
                  </div>
                  <div class="mb-3">
                    <label for="select" class="form-label">Category</label>
                    <select  class="form-select" id="select" name="category"> 
                        {% for i in category%}
                        <option value="{{i.name}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="img" class="form-label">Image</label>
                    <input type="file" class="form-control" id="img"  name="image">
                  </div>

                   
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
          
        </div>
    </div>
    </div>
</body>

{% endblock %}