{% extends 'base.html' %}

{% block base %}

<div class="container justify-content-around">
    <div class="row">
      <div class="col-2 bg-primary rounded">
          <div class="card">
             <div class="card-subtitle">
                Hi
                <div class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nam ipsa, nostrum sunt aperiam totam quam asperiores distinctio sit vero dicta unde. Hic labore odio ipsum veniam molestias adipisci recusandae?
                </div>
             </div>
          </div>
      </div>

      <div class="col-8 bg-secondary rounded">
        <div class="card">
          <div class="card-subtitle">
             
             <div class="card-text p-4">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nam ipsa, nostrum sunt aperiam totam quam asperiores distinctio sit vero dicta unde. Hic labore odio ipsum veniam molestias adipisci recusandae?
             </div>
          </div>
       </div>
      </div>

      <div class="col-2 bg-info rounded">
        <div class="card">
          <div class="card-subtitle">
             Hi
             <div class="card-text">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nam ipsa, nostrum sunt aperiam totam quam asperiores distinctio sit vero dicta unde. Hic labore odio ipsum veniam molestias adipisci recusandae?
             </div>
          </div>
       </div>
      </div>
    </div>
</div>

{% endblock %}