{% extends 'base.html' %}
 
{% block base %}
<body class="bg-gray-100">
  <div class="container py-4">
    <h1 class="text-center text-orange mb-4">Return Form</h1>
    <div class="card shadow">
      <ul class="list-group list-group-flush">
        {% for item in purchased_items %}
        <hr class="my-4">
        <li class="list-group-item">
          <h2 class="fw-bold">Checked In:</h2>
          <p>Product Name: {{ item.product.name }}</p>
          <div class="d-flex justify-content-between align-items-center mt-3">
            <p>Product Quantity: {{ item.quantity }}</p>
            <p>Category: {{ item.product.category }}</p>
            <form action="{% url 'return_all' item.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary me-2">Return</button>
            </form>
            <form action="{% url 'Add_wastage' item.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Damaged</button>
            </form>
          </div>
        </li>
        {% empty %}
        <p class="flex justify-center align-items-center">No Return You have</p>
        <hr class="my-4">
        {% endfor %}
      </ul>
    </div>
  </div>
</body>
{% endblock %}
