{% extends 'base.html' %}

{% load static %}

{% block base %}
<div class="p-4">
  
<div class="container shadow p-4 mb-5">
    <div class="row justify-content-between gap-4">

      <div class="col bg-cyan rounded">
        <form method="POST">
          {% csrf_token%}
          
          <center><h1 style="font-style:Serif">Wastage Form</h1></center>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Product Name</label>
            <select  class="form-select" id="select" name="product_name"> 
              {% for product in products%}
              <option value="{{product.name}}">{{product.name}}</option>
              {% endfor %}
          </select>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Roll_Number</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="roll_number">
          </div>
          
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Quantity</label>
              <input type="number" class="form-control" id="exampleInputEmail1" name="quantity">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Reason</label>
              <input type="text" class="form-control" id="exampleInputEmail1"  name="reason">
            </div>
            <div class="mb-3">
              <label for="select" class="form-label">Category</label>
              <select  class="form-select" id="select" name="category"> 
                  {% for i in category%}
                  <option value="{{i.name}}">{{i.name}}</option>
                  {% endfor %}
              </select>
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <div class="col rounded mt-5 p-5 mx-5">
        <img src="{% static 'images/download.png' %}" alt="loading" height="300">
      </div>

    </div>
</div>

</div>
{% endblock %}