asgiref==3.7.2
Django==4.2.7
pip==23.2.1
setuptools==65.5.0
sqlparse==0.4.4
sweetify==2.3.1
tzdata==2023.3
Pillow==10.0.0
django-microsoft-auth==3.0.1
social-auth-app-django==5.4.0
django-allauth==0.58.2
python-decouple==3.8
celery==5.3.6
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-crontab==0.7.1
django-timezone-field==6.1.0
redis==5.0.1