{% extends "base.html" %}
{% block base %}
<style>
  /* Your existing styles */
</style>

<script>
  function confirmRemoveItem(itemId) {
    const confirmation = confirm("Are you sure you want to remove this item from the cart?");
    if (confirmation) {
      document.getElementById(`removeItem_${itemId}`).submit();
    } else {
      return false;
    }
  }

  function confirmSubmitCart() {
    const confirmation = confirm("It's okay to submit the cart with these items?");
    if (confirmation) {
      document.getElementById('submitCartForm').submit();
    } else {
      return false;
    }
  }
</script>

<div class="container py-5">
  <div class="card shadow-lg border-radius-15">
    <div class="card-body">
      <div class="mb-4">
        <h1 class="fw-bold mb-0">Cart</h1>
      </div>
      <hr class="my-4">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Category</th>
              <th>Remove Item</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart_items %}
            <tr>
              <td><img src="{{item.product.image.url}}" alt="{{ item.product.name }}" class="img-fluid shadow-sm border border-black" height="150" width="200"></td>
              <td>{{ item.product.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.product.category }}</td>
              <td>
                <form id="removeItem_{{ item.product.id }}" action="{% url 'remove_from_cart' item.product.id %}" method="post">
                  {% csrf_token %}
                  <button type="button" class="btn btn-danger btn-sm" onclick="return confirmRemoveItem('{{ item.product.id }}')">Remove</button>
                </form>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5"><p>No items</p></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <hr class="my-4">
      <div class="row">
        <div class="col-md-6 mb-3">
          <a href="{% url 'Home' %}" class="btn btn-secondary"><i class="fas fa-long-arrow-alt-left me-2"></i>Back to Home</a>
        </div>
        <div class="col-md-6 text-end">
          <form id="submitCartForm" action="{% url 'submit_cart' %}" method="post">
            {% csrf_token %}
            <input type="button" value="Submit Cart" class="btn btn-primary" onclick="return confirmSubmitCart()">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

{% endblock %}
